<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= image_path('banner.jpg') %>');">
  <div class="container">
    <h1>My INCREDIBLE Cocktails</h1>
  </div>
</div>


<ul>
<% @cocktails.each do |cocktail| %>
  <li><%= link_to cocktail.name, cocktail_path(cocktail) %></li>
<% end %>
</ul>

<%= link_to "Create new cocktail", new_cocktail_path, class: "btn btn-default" %>
